{% unless page.comments_locked == true or site.comments_locked == true %}
      <!-- Start new comment form -->
      <div id="respond">
        <h2 class="page__section-label">Leave a Comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">Cancel reply</a></small></h2>
        <form id="comment-form" class="page__form js-form form" method="post" action= {{ site.staticman_url }}>
          
          <div class="form__group">
            <label for="comment-form-name">Name
              <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false" placeholder="Your name">
            </label>
            <label for="comment-form-email">E-mail
              <input type="email" id="comment-form-email" name="fields[email]"  required spellcheck="false" placeholder="email@domain.com">
            </label>
            <label for="comment-form-url">Website (optional)
              <input type="url" id="comment-form-url" name="fields[url]" placeholder="https://domain.com">
              </label>
          </div>
          <div class="notice" style="margin-bottom: 1em">
            Your email address will not be displayed publicly or shared with anyone else.
          </div>

          <div class="notice" style="margin-bottom: 1em">
            <strong>Comments are moderated.</strong> Your comment will be reviewed  by a human before being posted to
              this page. Any comment made for the purpose of advertising will not be approved.
          </div>

          <div class="form__group">
            <label for="comment-form-message">Comment
              <textarea type="text" rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true" placeholder="Your message"></textarea>
            </label>
          </div>


          <!-- with options[redirect], our visitor will come back to our website when submitting a review -->
          <input name="options[redirect]" type="hidden" value="{{site.url}}{{site.baseurl}}{{ page.url }}" />
          <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}#comments">
          <input type="hidden" id="comment-replying-to" name="options[parent]" value>
          <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">

          <button type="submit" id="comment-form-submit">Submit comment</button>
        </form>
      </div>
      <!-- End new comment form -->
    {% else %}
      <p><em>Comments are closed. If you have a question concerning the content of this page, please feel free to <a href="/contact/">contact me</a>.</em></p>
{% endunless %}
