<div class="excerpt-container">
    <div class="excerpt-header">
        <h3>Wisdom Whisperer</h3>
    </div>
    
    <div class="random-excerpt-box">
        <div id="excerpt-display">
            <div class="excerpt-content">
                <blockquote id="quote-text"></blockquote>
            </div>
            <div class="book-meta">
                <h4 id="book-title"></h4>
            </div>
        </div>
    </div>
        <button id="new-quote" class="quote-button">Enlighten me More!!</button>
        <a id="book-link" class="amazon-button" target="_blank">Buy on Amazon</a>
        <button id="share-quote" class="share-button">Share This Quote</button>
</div>

<!-- Add this before closing body tag -->
<script src="{{ site.baseurl }}/assets/excerpts.js"></script>
