<div class="excerpt-container">
    <div class="excerpt-header">
        <h5>Wisdom Whisperer</h5>
    </div>
    
    <div class="random-excerpt-box">
        <div id="excerpt-display">
            <div class="excerpt-content">
                <div id="quote-text" style="white-space: pre-wrap;"></div>            </div>
            <div class="book-meta">
                <b id="book-title"></b>
            </div>
        </div>
    </div>
    <button id="new-quote" class="quote-button">
        <i class="fas fa-redo-alt"></i> More Wisdom
    </button>
    <a id="book-link" class="amazon-button" target="_blank">
    <i class="fab fa-amazon"></i> Buy on Amazon
    </a>
    <button id="share-quote" class="share-button">
    <i class="fas fa-share-alt"></i> Spread the Wisdom!
    </button>
    <button id="subscribeButton" class="subscribe-button">
    <i class="fas fa-bell icon"></i> Wisdom Notifications
    </button>      
</div>

<!-- Add this before closing body tag -->
<script src="{{ site.baseurl }}/assets/excerpts.js"></script>
