<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- SEO Meta Tags -->
<title>Atmanam Viddhi | Discover Indian Philosophy</title>
<meta name="description" content="Explore profound excerpts from Indian philosophy books. Discover the Bhagavad Gita, Upanishads, and other timeless spiritual wisdom.">
<meta name="keywords" content="Indian philosophy, Bhagavad Gita, Upanishads, ancient wisdom, spiritual quotes, meditation, mindfulness, Vedanta, spiritual wisdom, Indian scriptures, philosophy books, spiritual excerpts">
<meta name="author" content="Atmanam Viddhi">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="Atmanam Viddhi | Discover Indian Philosophy">
<meta property="og:description" content="Explore profound excerpts from Indian philosophy books. Discover the Bhagavad Gita, Upanishads, and other timeless spiritual wisdom.">
<meta property="og:url" content="https://atmanamviddhi.github.io/">
<meta property="og:image" content="https://your-image-url.jpg"> <!-- Replace with your image URL -->
<meta property="og:type" content="website">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Atmanam Viddhi | Discover Indian Philosophy">
<meta name="twitter:description" content="Explore profound excerpts from Indian philosophy books. Discover the Bhagavad Gita, Upanishads, and other timeless spiritual wisdom.">
<meta name="twitter:image" content="https://your-image-url.jpg"> <!-- Replace with your image URL -->

<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<!-- Feed -->
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

<!-- Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6819793054373827" crossorigin="anonymous"></script>

<!-- Custom Fonts -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- Bootstrap CSS and JS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Local CSS -->
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/clean-blog.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/comments.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/forms.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/tags.css" | prepend: site.baseurl }}">
<script src="{{ '/assets/main.js' | relative_url }}"></script>

<!-- Data Tables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- Google Analytics -->
{% include google-tag.html %}
