---
layout: default
title: Sanskrit-Vocabulary

description:
---

<div class="container">
	<!-- <div class="floating-menu-outer">
		<div class="floating-menu">
			<i>Click button to show/hide sanskrit sentences</i>
			<button id="show">Show</button>
			<button id="hide">Hide</button>
		</div>
	</div> -->
<div class="post">	
	<body>
		
	<article>
		<table class="table-customised">
			<thead>
				<tr>
					<th colspan="3">
						<i>Click button to show/hide sanskrit sentences</i>
						<br>
						<button id="show">Show</button>
						<button id="hide">Hide</button>
					</th>
				</tr>
				<!-- <tr>
					<th>
						<div>sanskrit word</div>
					</th>
					<th>
						<div>eng transliteration</div>
					</th>
					<th>
						<div>eng meaning</div>
					</th>
				</tr> -->
			</thead>
			<tbody>		
				{% for obj in site.data.vocab.dictionary %}			
				{% for word in obj.words %}
					<tr >
						<td class="word_head">
							<div > {{word.sanskrit_word}} </div>
						</td>

						<td class="word_head">
							<div> {{word.eng_transliteration}} </div>
						</td>

						<td class="word_head">
							<div> {{word.eng_meaning}} </div>
						</td>

						<!-- <td>
							<button id="hide">Hide</button>
							<button id="show">Show</button>
						</td> -->
					</tr>
					{% for sentence in word.sentences %}
						<tr class="table-customised-sanskrit-sentence">
							<td >
								<div>{{sentence.sanskrit_sentence}}</div>
							</td>

							<td>
								<div>{{sentence.sentence_eng_transliteration}}</div>
							</td>

							<td>
								<div>{{sentence.sentence_eng_meaning}}</div>
							</td>
						</tr>
					{% endfor %}	
					<tr class="blank_row_sanskrit_sentence">
	    			<td colspan="3"></td>
				</tr>			
				{% endfor %}
				<tr class="blank_row">
	    			<td colspan="3"></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br/>
		Meanings from <a href = "https://www.learnsanskrit.cc/">Learnsanskrit</a> 
	</article>
	</body>
</div>
</div>
		
		