---
layout: default
title: Sanskrit-Vocabulary

description:
---

<div class="container">
<div class="post">	
	<body>
		

	<div class="panel">
		<button id="hide">Hide</button>
		<button id="show">Show</button>
	</div>
		<table class="table-customised">
			<!-- <thead>
				<tr>
					<th>
						<div>sanskrit word</div>
					</th>
					<th>
						<div>eng transliteration</div>
					</th>
					<th>
						<div>eng meaning</div>
					</th>
				</tr>
			</thead> -->
			<tbody>		
				{% for obj in site.data.vocab.dictionary %}			
				{% for word in obj.words %}
				<tr>
					<td>
						<div class="word_head"> {{word.sanskrit_word}} </div>
					</td>

					<td>
						<div class="word_head"> {{word.eng_transliteration}} </div>
					</td>

					<td>
						<div class="word_head"> {{word.eng_meaning}} </div>
					</td>

					<!-- <td>
						<table class="table-customised-sanskrit-sentence">
							<!-- <thead>
								<tr>
									<th>
										<div>sanskrit sentence</div>
									</th>
									<th>
										<div>eng transliteration</div>
									</th>
									<th>
										<div>eng meaning</div>
									</th>
								</tr>
							</thead> -->
							<!-- <tbody>
								{% for sentence in word.sentences %}
								<tr>
									<td >
										<div>{{sentence.sanskrit_sentence}}</div>
									</td>

									<td>
										<div>{{sentence.sentence_eng_transliteration}}</div>
									</td>

									<td>
										<div>{{sentence.sentence_eng_meaning}}</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</td> -->			
				</tr>
				{% for sentence in word.sentences %}
								<tr class="table-customised-sanskrit-sentence">
									<td >
										<div>{{sentence.sanskrit_sentence}}</div>
									</td>

									<td>
										<div>{{sentence.sentence_eng_transliteration}}</div>
									</td>

									<td>
										<div>{{sentence.sentence_eng_meaning}}</div>
									</td>
								</tr>
								{% endfor %}
								
				
				{% endfor %}
				<tr class="blank_row">
	    			<td colspan="3"></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</div>
</div>
		
		